
:root{
    --pcolor: #dedede;
}
*{
    margin:0;
    padding: 0;
    
}
/* #loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#dedbd2;
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
} */

body{
    margin:0;
    padding: 0;
    background-color:var(--pcolor);
     color: #111010;
    
}
/* Header section */
#fixed{
     position: fixed;
     top: 0;
     width: 100%;
    box-sizing: border-box;
    z-index: 1000;
      background-color:transparent;
}
.container{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin: 1%;
    padding: 1%;
}
.names{
    display: flex;
    margin-left: 2%;
    align-items:center;
    justify-content: center;
    font-size:25px;
    color: #0d0c0c;
    cursor: pointer;

}
.class{
    display:flex;
    justify-content:center;
    width: 40%;
    align-items: center;
    
   
}
ul{
    display:flex;
    justify-content:center;
    gap: 4rem;
    align-items: center;
    font-weight: bold;
    color: #080808;
    list-style: none;
    cursor: pointer;
}
a{
    color: #080808;
    cursor: pointer;
    text-decoration: none;
}
.profile{
    margin-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;}
.photo{
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 20px ;
    border: solid 0.1rem black;
}
.moodbtn{
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background: transparent;
    border-style: none;
}
/*Monochrome beach*/

/*Banner*/

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    gap:15rem;

    
}

.btn{
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 70px;
    height:30px;
    border-radius: 10px;
    border: none;
    background-color:#222525;
    color: #d9d9d9;
    cursor: pointer;

   
}

h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: "Stack Sans Headline", sans-serif;";
}
#cmt{
    color: #080808;
    font-size: 2rem;
}
.Greet{
     height:20em;
     margin-left: 3rem;
     margin-right: 2rem;
}
/* main*/
.maincontainer{
      width: 100%;
}
.Aboutstn{
    display: flex;
}
.nabbarEle{
   display: flex;
   width: 100%;
   justify-content: right;
   
}

.intro{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131313;
    width: 600px;
    height: 60px;
    border-radius: 0 0 0 100px;
    color: #d9d9d9;
    font-size: 30px;
    font-family: "Roboto Condensed", sans-serif;
    font-style:oblique;
    }
.aboutimg{
    display: block;
     height:400px;
     margin-left: 40px;
     margin-right: 200px;
     border-radius: 0 0 170px 170px;
     }
     .artical-title{
        position: relative;
        color: #222525;
        margin-bottom: 10px;
        font-size: 40px;
        }
        .info{
            color:#222525;
            margin-top: 40px;
            margin-right:60px;
        }
        .VM{
            position: relative;
            color: #222525;
            margin-top: 20PX;
            margin-bottom: 10px;
        }
        .artical-title::after{
            content: "";
            background-color:#6b705c;
            height: 5px;
            width: 120px;
            display: block;
            position:absolute;
            margin-top:5px;         
            left: 0;
            border-radius: 3px;
        }
       .VM::after{
            content: "";
            background-color:#6b705c;
            height: 5px;
            width: 40px;
            display: block;
            position:absolute;
            margin-top:5px;         
            left: 0;
            border-radius: 3px;
       }

       .Work{
        display: flex;
        justify-content:center;
        align-items:center;
        font-family: "Roboto Condensed", sans-serif;";
        margin: 5rem;
        }
        
    #workhead{
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
       
       /*content*/
    .content{
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
    }
    .window{
        display:flex;
        justify-content:center;
        align-items:center;
        gap:7rem;
        margin: 5rem;
     }
    .Win1{
        position: relative;
        width: 250px;
        height: 300px;
        background-color: #222525;
        border-radius: 10px;
        box-shadow: rgb(153, 148, 148);
        
    }
    .sectionTwo{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* skill Section */
.SkillBox{
    
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
  align-items: center;
    }

    .skill{
        display: flex;
        justify-content:center;
        align-items: center;
        gap: 2rem;
        width: 20rem;
        height: 10rem;
        margin: 1rem;
        background-color: transparent;
         border-radius: 10px;
    }
     .simg{
        width: 4rem;
        height: 4rem;
    }
    .innerscale{
             content: "";
            background-color:#6b705c;
            height: 0.4rem;
            width: 7.5rem;
            display: block;
            margin-top:5px;         
            border-radius: 3px;


      }

   



    /* conclusion */
    .conclusion{
        background-color: #222525;
        height:700px;
        width:100%;
    }
    .tag{
        margin-top: 0;
       height:200px;
       width: 250px;
       border-radius: 10px 10px 0 0;
    }
    .tit-name{
        display: flex;
        justify-content: center ;
        font-size: 22px;
         align-items: center; 
        position:absolute;
        color:#d9d9d9;
        height:100px ;
        width: 100%;
        border-radius: 10px;
        border-color: black;
    }
    .conclusion{
        position: relative;
       display: flex;
       width: 100%;
       background-color: #222525;
    }
 .outerstyle{
        display: flex;
        margin-top: 20px;
    }
      .innerbox{
        color: #f4efef;
        margin:70px;
        margin-left:90px;
        
      }
   
    .Endcmpnt{
      padding: 10px;
      list-style: none;
    }
    
    .Sociallife{
        display: flex;
        margin-left: 300px;
    }
    .icon{
        position: absolute;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        color: #d9d9d9;
        background-color: #d9d9d9;
        border-radius: 20px;
        cursor: pointer;
    }
    .icon:hover{
        width: 40px;
        height: 40px;
    }
    /*Profile*/
    .compleatP{
        display: flex;
        height: 100%;
        background-color:#f5f1ed;
        justify-content:center;
        
    }
    .Profile{
        width: 80%;

     }
    .InProfile{
        display:flex;
        justify-content: center;
    }
    .Sidebar{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        width: 300px;
        border-radius: 10px;
        background-color: white;
        border-color: black;
        box-shadow: #353535;


    }
    .Probanner{
        margin:20px;
        width: 100%;
        border-radius: 10px;
    }
    .fristbox{
        width: 100%;
        height: 600px;
        border-radius: 10px;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: #6b705c;
    }
    .fristbox2{
         width: 100%;
        height: 600px;
        border-radius: 10px;
        background-color: white;
        box-shadow: #6b705c;

    }

